<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="resources/img/favicon.ico">

    <title>Spot-On: kinetic modeling of SPT data</title>
    
    <!-- Bootstrap core CSS -->
    <link href="resources/css/bootstrap.min.css" rel="stylesheet">
    <script src="resources/js/jquery.min.js"></script>   

    <!-- add after bootstrap.min.css -->
    <link rel="stylesheet" href="resources/css/bootstrap-toc.min.css">
    
    <!-- Angular JS -->
    <script src="resources/js/angular.js"></script>
    <script src="resources/js/angular-cookies.js"></script>
    <script src="resources/js/angular-toggle-switch.min.js"></script>
    <script src="resources/js/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <link href="resources/css/angular-toggle-switch.css" rel="stylesheet">

    <!-- Rzslider JS -->
    <link href="resources/css/rzslider.min.css" rel="stylesheet">
    <script src="resources/js/rzslider.min.js"></script>    

    <!-- Custom app code & CSS -->
    <script src="resources/docs_visualizations.js"></script>

    <!-- D3.js -->
    <script src="resources/erfc.js"></script>
    <script src="resources/js/d3.v4.min.js"></script>
    
    <!-- Custom styles for this template -->
    <link href="resources/carousel.css" rel="stylesheet">
    <link href="resources/blog.css" rel="stylesheet">
    <link href="resources/style.css" rel="stylesheet">

    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    <link href="resources/footnotes.css" rel="stylesheet"> 
  </head>

  <!-- THE BODY ==================================================== -->
  <body ng-app="app" data-spy="scroll" data-target="#toc">
    <div class="container">

      <h1>Jump length displacement histograms</h1>

      <h2>Without State changes</h2>

      <div class="panel panel-default">
	<div class="panel-heading">Theoretical jump length distribution</div>
	<div class="panel-body" ng-init="jld={D1: 0.1, D2: 5.0, P: 0.5, S: 10, dt: 10, theo: true, zcorr: true}">
	  <div class="text-center">
	    <jump-length-distribution data="jld"></jump-length-distribution>
	  </div>
	  <br/>
	  <table>
	    <tr>
	      <td class="col-sm-2">D<sub>1</sub> (&mu;m²/s)</td>
	      <td class="col-sm-10"><rzslider
				       rz-slider-model="jld.D1"
				       rz-slider-options="{floor: 0, ceil:10, step: 0.1, precision: 1}">
	      </rzslider></td>
	    </tr>
	    <tr>
	      <td class="col-sm-2">D<sub>2</sub> (&mu;m²/s)</td>
	      <td class="col-sm-10"><rzslider
				       rz-slider-model="jld.D2"
				       rz-slider-options="{floor: 0, ceil:10, step: 0.1, precision: 1}">
	      </rzslider></td>
	    </tr>
	    <tr>
	      <td class="col-sm-2">P</td>
	      <td class="col-sm-10"><rzslider
				       rz-slider-model="jld.P"
				       rz-slider-options="{floor: 0, ceil:1, step: 0.01, precision: 2}">
	      </rzslider></td>
	    </tr>
	    <tr>
	      <td class="col-sm-2">&sigma; (nm)</td>
	      <td class="col-sm-10"><rzslider
				       rz-slider-model="jld.S"
				       rz-slider-options="{floor: 0, ceil:100, step: 1}">
	      </rzslider></td>
	    </tr>
	    <tr>
	      <td class="col-sm-2">&Delta;t (ms)</td>
	      <td class="col-sm-10"><rzslider
				       rz-slider-model="jld.dt"
				       rz-slider-options="{floor: 1, ceil:100, step: 1}">
	      </rzslider></td>
	    </tr>
	    <tr>
	      <td>Show model with no depth of field correction</td>
	      <td>
		<toggle-switch ng-model="jld.theo"
			       off-label="No"
			       on-label="Yes"></toggle-switch>
		{{jld.theo}}
	      </td>
	    </tr>
	  </table>
	</div>
      </div>

      <h2>With state changes</h2>
      <div class="panel panel-default">
	<div class="panel-heading">Theoretical jump length distribution</div>
	<div class="panel-body" ng-init="jldsc={D1: 0.1, D2: 5.0, S: 10, dt: 10, 
					 theo: true, zcorr: false, kon: 0.5, koff: 0.5, sc: true}">
	  <div class="text-center">
	    <jump-length-distribution data="jldsc"></jump-length-distribution>
	  </div>
	  <br/>
	  <table>
	    <tr>
	      <td class="col-sm-2">D<sub>1</sub> (&mu;m²/s)</td>
	      <td class="col-sm-10"><rzslider
				       rz-slider-model="jldsc.D1"
				       rz-slider-options="{floor: 0, ceil:10, step: 0.1, precision: 1}">
	      </rzslider></td>
	    </tr>
	    <tr>
	      <td class="col-sm-2">D<sub>2</sub> (&mu;m²/s)</td>
	      <td class="col-sm-10"><rzslider
				       rz-slider-model="jldsc.D2"
				       rz-slider-options="{floor: 0, ceil:10, step: 0.1, precision: 1}">
	      </rzslider></td> 
	    </tr>
	    <tr>
	      <td class="col-sm-2">P</td>
	      <td class="col-sm-10">{{jldsc.P | number: 2}}, (Residence times: 1/k<sub>ON</sub>={{1/jldsc.kon | number: 3}}s, 1/k<sub>OFF</sub>={{1/jldsc.koff | number: 3}}s)</td>
	    </tr>
	    <tr>
	      <td class="col-sm-2">k<sub>ON</sub> (s<sup>-1</sup>)</td>
	      <td class="col-sm-10"><rzslider
				       rz-slider-model="jldsc.kon"
				       rz-slider-options="{floor: 0.01, ceil:1000, step: 0.01, precision: 2, logScale: true}">
	      </rzslider></td>
	    </tr>
	    <tr>
	      <td class="col-sm-2">k<sub>OFF</sub> (s<sup>-1</sup>)</td>
	      <td class="col-sm-10"><rzslider
				       rz-slider-model="jldsc.koff"
				       rz-slider-options="{floor: 0.01, ceil:1000, step: 0.01, precision: 2, logScale: true}">
	      </rzslider></td>
	    </tr>
	    <tr>
	      <td class="col-sm-2">&sigma; (nm)</td>
	      <td class="col-sm-10"><rzslider
				       rz-slider-model="jldsc.S"
				       rz-slider-options="{floor: 0, ceil:100, step: 1}">
	      </rzslider></td>
	    </tr>
	    <tr>
	      <td class="col-sm-2">&Delta;t (ms)</td>
	      <td class="col-sm-10"><rzslider
				       rz-slider-model="jldsc.dt"
				       rz-slider-options="{floor: 1, ceil:100, step: 1}">
	      </rzslider></td>
	    </tr>
	    <tr>
	      <td>Show model without state changes</td>
	      <td>
		<toggle-switch ng-model="jldsc.theo"
			       off-label="No"
			       on-label="Yes"></toggle-switch>
		{{jld.theo}}
	      </td>
	    </tr>
	  </table>
	</div>
      </div>

    </div>
  </body>
</html>
